@model TownTalk.Web.Models.Post;

<h2>Create Post</h2>

<form method="post" class="container">
    <div class="row">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="row">
        <label asp-for="Content"></label>
        <textarea asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="row">
        <label asp-for="Category"></label>
        <select asp-for="Category" asp-items="@(ViewData["CategoryId"] as SelectList)"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
