<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\*\**\TownTalk.Web.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_DETAILED_ERRORS" value="true" />
          <!-- Point to your appsettings.json -->
          <environmentVariable name="ASPNETCORE_APPSETTINGS_JSON_PATH" value=".\appsettings.json" />
        </environmentVariables>
      </aspNetCore>
      <!-- Enable detailed error messages -->
      <httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true"/>
    </system.webServer>
    <system.web>
      <customErrors mode="on" />
      <compilation debug="true" />
    </system.web>
  </location>
  <!-- Connection string can be added here if not in appsettings.json -->
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=localhost;Database=TownTalkDb;User Id=SA;Password=Ambition!;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>