html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* other*/
.dropdown-menu {
  max-height: 600px;
  overflow-y: auto;
}

.popover {
  max-width: 600px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #555;
  border-radius: 0.5rem;
  backdrop-filter: blur(100px);
  box-shadow: inset 0px 0px 20px 0px grey;
}

.popover-body {
  color: white;
}

.popover .reaction-container {
  padding: 0.5rem;
  background: transparent;
}

.popover .reaction {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.popover .reaction:hover,
.popover .reaction:active {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

#notificationContent {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.notification-item {
  padding: 10px;
  background: #00000073;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 2px 1px 0px 1px #0e5bbb;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-unread {
  background-color: rgba(173, 216, 230, 0.5);
}

.notification-read {
  color: grey;
}

.notification-read .sender-display-name {
  font-weight: bold;
  color: black;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  /* Initially hidden */
  background-color: rgb(10, 121, 242);
  /* Primary color from Pico CSS */
  color: white;
  /* Icon color */
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  /* Make sure it’s on top */
}

.scroll-to-top-btn:hover {
  background-color: var(--pico-color-secondary);
  /* Secondary color from Pico CSS on hover */
}

/* Reaction container */
.reaction-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 0.05em solid black;
  padding: 0.2em;
  border-radius: 1em;
}