@using System.Security.Claims
@using TownTalk.Models
@using TownTalk.ViewModels
@model IEnumerable<TownTalk.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<div class="container mt-4">
    <h1>Posts (@Model.Count())</h1>

    @foreach (Post post in Model)
    {
        string? userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

        @await Html.PartialAsync("_PostCard", new PostViewModel(post: post, userId)) <!-- Render each post card -->
    }

</div>
