@{
    ViewData["Title"] = "Home Page";
    string currentUserName = User?.Identity?.Name?.Split('@')[0].Split('.').FirstOrDefault();
}

<div class="text-center" style="min-height: 200px">
    <h1 class="display-4">Welcome <span class="badge bg-success fw-bold rounded-pill"
            style="box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); filter:hue-rotate(45deg)">@currentUserName</span>
    </h1>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="my-4">
            <p>Do you want to seed more data? Users, posts and interactions.</p>
            <a class="" href="/api/users">Seed more data</a>
        </div>
    }
</div>
<div class="text-center">
    <div>
        <h2>Latest</h2>
        <p>This is a placeholder for latest activities - posts, reactions etc</p>
    </div>

    <div>
        <h2>Recommendations</h2>
        <p>This is a placeholder for recommendation engine - users, posts etc</p>
    </div>
</div>