@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = Localizer["PrivacyPolicyTitle"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["PrivacyPolicyDescription"]</p>